@charset "UTF-8";

body {
    margin: auto;            /* Centrere sidan */
    max-width: 860px;
    font-family: sans-serif;
    font-size: 100%;         /* Startvärde */
}

section, header, footer {
    outline: 1px solid red;  /* Provoserisk */
}

header {
    text-align: center;
}

.startpage h1 {
    font-size: 500%;         /* Massiv rubrik på startsidan */
}

.tagline {
    font-size: 120%;
    padding: 0.5em;          /* Avstånd till kantlinjen */
    border-top: 3px double #00AF64;
    border-bottom: 3px double #00AF64;
    margin: 1em 0;           /* Avstånd nedåt men inte uppåt */
}

.menu h2 {
    margin: 0 0 1em;
    padding: 2em 0;
    background-color: #F5F5F5; /* Mycket Ljus grå */
    text-align: center;
}

footer {
    margin-top: 3em;
    text-align: center;
    color: #999;
}
.startpage {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.startpage header,
.startpage footer {
  flex: 0 0 100%;
}

.startpage section {
  flex: 0 0 22%;
}
.menu a:link,
.menu a:visited {
    text-decoration: none;
    color: #000;
}

.menu a:focus,
.menu a:hover {
    text-decoration: underline;
    color: #A62F00;
}

.menu a:active {
    text-decoration: underline;
    color: #FF4900;
}
.menu h2 {
    margin: 0 0 1em;
    padding: 2em 0;
    background-color: #F5F5F5; /* Mycket Ljus grå */
    text-align: center;
    /* Nya rader i befintlig regel */
    box-shadow: inset 0 0 20px #007241;
    border-radius: 50%;
}
